.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding: 0.8rem 0;

    a {
        color: var(--accent-color);
    }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0;
}

.font-loader {
    /*  basically sr-only styles  */
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.render-wrapper {
    --scale-factor: 1.1;
    border: calc(4mm * var(--scale-factor)) solid var(--accent-color);
    background-color: var(--accent-color);
    border-bottom-width: calc(13mm * var(--scale-factor));
    border-radius: calc(2mm * var(--scale-factor));
    width: calc(50mm * var(--scale-factor));
    position: relative;
    align-self: center;
    flex-shrink: 0;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        background: color-mix(in hsl, var(--accent-color) 70%, #fff 30%);
        height: calc(2.5mm * var(--scale-factor));
        width: calc(20mm * var(--scale-factor));
        border-radius: calc(3mm * var(--scale-factor));
        top: calc(100% + 8mm * var(--scale-factor));
    }

    &::before {
        right: calc(50% + 1.5mm * var(--scale-factor));
    }

    &::after {
        left: calc(50% + 1.5mm * var(--scale-factor));
    }
}

canvas {
    width: 100%;
    display: block;
    border-radius: calc(1mm * var(--scale-factor));
}

form {
    margin: 1.5rem 0 0 0;
    max-height: 100%;
    overflow: auto;

    fieldset {
        border: none;
    }

    legend {
        color: var(--title-color);
        margin-top: 0;
        font-weight: bold;
        font-size: 1.1em;
        padding: 0;
        float: inline-start;
        width: 100%;
        margin-bottom: 0.7em;

        & + * {
            clear: both;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.setting-row {
    min-height: 2rem;
}

.setting-desc {
    font-size: 0.7em;
}

.setting-control-textarea {
    flex-grow: 1;
    display: block;
}

.setting-control textarea {
    font-family: inherit;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.95em;
    background: var(--card-bg);
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    resize: vertical;
    display: block;
}

.setting-radio-group {
    justify-content: flex-start;

    .setting-name {
        padding: 0;
    }
    
    :not(:last-child) {
        padding-right: 1em;
    }
}

.setting-radio-option {
    display: flex;
    align-items: center;
    position: relative;

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.custom-radio-indicator {
    --indicator-size: 1.5rem;
    box-sizing: border-box;
    border: 2px solid var(--font-color);
    height: var(--indicator-size);
    width: var(--indicator-size);
    border-radius: var(--indicator-size);
    margin-right: 0.4em;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        border-radius: var(--indicator-size);
        background-color: var(--font-color);
        opacity: 0;
        transform: scale(0.5);
        transition: 0.2s;
        transition-property: opacity, transform;
    }
}

.setting-radio-option input:checked + .custom-radio-indicator {
    &::after {
        opacity: 1;
        transform: scale(1);
    }
}

.setting-radio-option input:focus-visible + .custom-radio-indicator {
    border-color: var(--accent-color);
    outline: 1px auto;
    outline-offset: 2px;
}

.setting-row > * {
    transition: opacity 0.2s;
}

.setting-row:has(:disabled) > * {
    opacity: 0.5;
}

.opts-bg {
    .setting-row {
        transition: 0.2s;
        transition-property: visibility, max-height, opacity, padding;
        overflow: hidden;
        max-height: 32rem;
        min-height: 0;
    }

    &.collapse {
        > .setting-row:not(.setting-row--use-bg) {
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        > .setting-row--use-bg {
            border-bottom: none;
        }
    }
}

#bg-img-preview {
    display: none;
    margin: 0 auto 0.3rem;
    max-width: 20rem;
    max-height: 10rem;
    object-fit: scale-down;

    &[src] {
        display: block;
    }
}

.save-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;

    > * {
        min-width: calc(50% - 0.4rem);
        flex-grow: 1;
    }
}

.save-btn--upload {
    position: relative;

    .btn-spinner {
        --spinner-size: 1.5rem;
        position: absolute;
        display: none;
        box-sizing: border-box;
        height: var(--spinner-size);
        width: var(--spinner-size);
        border-radius: var(--spinner-size);
        border: 0.2rem currentColor solid;
        border-bottom-color: transparent;
        top: calc(50% - var(--spinner-size) / 2);
        left: calc(50% - var(--spinner-size) / 2);
        animation: spinner 2s linear infinite;
    }

    &.loading {
        .btn-text {
            visibility: hidden;
        }

        .btn-spinner {
            display: block;
        }
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.save-btn--secondary {
    background-color: var(--accent-color);

    &:hover {
        background-color: var(--accent-hover-color);
    }
}

.toast {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d68910;
    transition: 0.3s ease;
    transition-property: transform, opacity, visibility;
    transform: none;
    color: #fff;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;

    &:empty {
        visibility: hidden;
        opacity: 0;
        transform: translateY(100%);
    }

    &.error {
        background-color: #e74c3c;
    }
}

@media (min-width: 675px) {
    main {
        flex-direction: row;
        align-items: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .render-wrapper {
        align-self: flex-start;
        position: sticky;
        top: min(2rem, calc(100vh - 100mm * var(--scale-factor)));
    }

    form {
        margin: -1rem 0 0 1.5rem;
        flex-grow: 1;
    }
}

@media (max-width: 70mm) {
    .render-wrapper {
        --scale-factor: calc((100vw - 2em) / 60mm);
        /*   thank u css typed value division   */
    }
}